<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			This server provides an OMOP on FHIR Specification
            using an open source software stack.
		</p>
		<p>
			This server is built
            from a number of modules of the
            <a href="https://github.com/jamesagnew/hapi-fhir/">HAPI FHIR</a>
            project and <a href="https://github.com/omoponfhir/">OMOP on FHIR</a>
            project, which are both 100% open-source (Apache 2.0 Licensed) Java based
            implementation of the FHIR specification.
		</p>
	</div>
</html>
